.ssdebug{
    border: 1px solid red;
}

#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#009688 20%, #D8DBD5 20% );
    
}

.left{
    width: 40%;
    border-right: 1px solid lightgrey;
}

.right{
    width: 60%;
}

.ssnav{
    height: 80px;
    background-color: rgb(234, 234, 234);
}

.secblue{
    height: 90px;
    background-color: rgb(142, 218, 252);
}

.navbar{
    height: 50px;
}

.userschat{
    height: calc(100% - 220px);
    overflow-y: auto;
    background-color: white;
}

.chat{
    height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.ssmain{
    height: calc(100% - 160px);
    background-image: url(/img/mine.jpg);
    overflow-y: auto;
}

.ssmex{
    width: 600px;
    height: 50px;
}

i{
    color: gray;
}

a{
    color: gray;
    display: block;
}

.notification{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.fa-bell-slash{
    color:  rgb(142, 218, 252);
}

img{
    width: 50px;
    border-radius: 50%;
}

.messagetext{
    background-color: rgb(243, 238, 234);
}

.activebg{
    background-color: rgba(128, 128, 128, 0.205);
}

.mex{
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

.received{
    background-color: white;

}

.sent{
    background-color: #D5F9BA;
    margin-left: auto;
}

.gray{
    color: gray;
}